$clip-size: min(1.1979166667vw, 23px);

.BattleCard {
	border-radius: none;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	background: rgba(50, 50, 100, 0.6);
	clip-path: polygon(
		#{$clip-size} 0,
		100% 0,
		100% calc(100% - #{$clip-size}),
		calc(100% - #{$clip-size}) 100%,
		0 100%,
		0 #{$clip-size}
	);

	&::before {
		content: "";
		top: 0;
		left: 0;
		width: 5px;
		height: 240px;
		background: transparent;
	}

	&:hover::before {
		background: #0c62d6;
	}
}

.BattleCardBody {
	width: 100%;
}
